<!-- Loop over each object in the posts array -->
{{#each posts as |posts|}}
  <div class="row mb-4 posts">
    <div class="col-md-5">
      <h2>
        <a href="/posts/{{posts.id}}">{{posts.name}}</a>
      </h2>
      <p>Created by
        {{posts.user.name}}
        on
        {{format_date posts.date_created}}</p>
    </div>
    <div class="col-md-7">
      <p>
        {{posts.post}}
      </p>
    </div>
  </div>
{{/each}}